# Assignment-1
## Team: Aditya Ahuja (2020275), Deeptanshu Barman Chowdhuri (2020293)

##  Imports & Dataset

In [4]:
import torch 
import requests
import os
import pandas as pd 
import numpy as np 
from torch.utils.data import DataLoader
from torch.utils.data import Dataset
from torch.utils.data import random_split

In [5]:
Noise_0_data = requests.get(
    "http://AdityaAhuja01.pythonanywhere.com/data/df_syn_train_0_0_.csv"
)
Noise_Low_data = requests.get(
    "http://AdityaAhuja01.pythonanywhere.com/data/df_synA_train_shuffled.csv"
)
Noise_High_data = requests.get(
    "http://AdityaAhuja01.pythonanywhere.com/data/df_synA_test_hard_shuffled_sample.csv"
)

if Noise_0_data.status_code == 200 and Noise_Low_data.status_code == 200 and Noise_High_data.status_code == 200:
    datafolder = "Data/Assignment1"

    if not os.path.exists(datafolder):
        os.makedirs(datafolder)

    with open(os.path.join(datafolder, "data_0_noise"), "wb") as f:
        f.write(Noise_0_data.text.encode("utf-8"))

    with open(os.path.join(datafolder, "data_Low_noise"), "wb") as f:
        f.write(Noise_Low_data.text.encode("utf-8"))

    with open(os.path.join(datafolder, "data_High_noise"), "wb") as f:
        f.write(Noise_High_data.text.encode("utf-8"))
else:
    print("Error in fetching data")

In [6]:
Noise_0_dataframe = pd.read_csv("Data/Assignment1/data_0_noise")
print(Noise_0_dataframe.shape)
Noise_0_dataframe.head()

(7800, 29)

,Open_n_val,High_n_val,Low_n_val,Close_n_val,Volume_n_val,SMA_10_val,SMA_20_val,CMO_14_val,High_n-Low_n_val,Open_n-Close_n_val,...,Open_n-Close_n_changelen_val,SMA_20-SMA_10_changelen_val,Close_n_slope_3_changelen_val,Close_n_slope_5_changelen_val,Close_n_slope_10_changelen_val,row_num,day,era,target_10_val,target_5_val
0,0.5,0.5,0.5,0.5,0.0,0.5,0.25,1.0,1.0,0.5,...,0.50,0.75,0.25,0.75,0.50,75,537,2,0.75,0.75
1,0.5,0.5,0.5,0.5,0.0,0.5,0.50,1.0,1.0,0.5,...,0.50,0.50,0.75,0.50,0.50,76,537,2,0.75,0.75
2,0.5,0.5,0.5,0.5,0.0,0.5,0.50,1.0,1.0,0.5,...,0.50,0.25,0.50,0.50,0.75,77,537,2,0.75,0.75
3,0.5,0.5,0.5,0.5,0.0,0.5,0.50,1.0,1.0,0.5,...,0.25,0.25,0.50,0.75,0.50,78,537,2,0.75,0.75
4,0.5,0.5,0.5,0.5,0.0,0.5,0.50,1.0,1.0,0.5,...,0.75,0.25,0.50,0.50,0.50,79,537,2,0.75,0.75

In [7]:
Noise_Low_dataframe = pd.read_csv("Data/Assignment1/data_Low_noise")
print(Noise_Low_dataframe.shape)
Noise_Low_dataframe.head()

(312000, 30)

,Open_n_val,High_n_val,Low_n_val,Close_n_val,Volume_n_val,SMA_10_val,SMA_20_val,CMO_14_val,High_n-Low_n_val,Open_n-Close_n_val,...,SMA_20-SMA_10_changelen_val,Close_n_slope_3_changelen_val,Close_n_slope_5_changelen_val,Close_n_slope_10_changelen_val,row_num,day,era,target_10_val,target_5_val,data_type
0,1.00,0.75,0.75,0.75,0.0,0.75,0.50,0.75,0.25,1.00,...,0.00,0.0,0.00,0.25,82,481,16,0.00,0.00,train
1,0.25,0.25,0.50,0.50,0.0,0.50,0.50,0.00,0.25,0.00,...,0.75,0.5,0.25,0.75,77,542,23,0.25,0.25,train
2,0.75,0.75,0.75,0.75,0.0,0.75,0.50,0.75,0.75,0.50,...,0.50,0.5,0.75,0.75,123,445,8,0.75,0.25,train
3,0.75,0.75,0.75,1.00,0.0,0.75,1.00,0.75,0.00,0.25,...,1.00,0.5,1.00,0.75,112,486,1,0.25,0.25,train
4,1.00,1.00,1.00,1.00,0.0,1.00,0.75,0.75,0.25,1.00,...,0.75,0.0,0.00,0.00,86,390,14,0.00,0.00,train

In [25]:
Noise_High_dataframe = pd.read_csv("Data/Assignment1/data_High_noise")
print(Noise_High_dataframe.shape)
Noise_High_dataframe.head()

(249600, 30)

,Open_n_val,High_n_val,Low_n_val,Close_n_val,Volume_n_val,SMA_10_val,SMA_20_val,CMO_14_val,High_n-Low_n_val,Open_n-Close_n_val,...,SMA_20-SMA_10_changelen_val,Close_n_slope_3_changelen_val,Close_n_slope_5_changelen_val,Close_n_slope_10_changelen_val,row_num,day,era,target_10_val,target_5_val,data_type
0,0.75,0.75,0.50,0.75,0.0,0.25,0.25,1.00,0.75,0.50,...,0.25,0.00,0.75,1.00,96,456,17,0.00,0.25,validation
1,0.00,0.00,0.00,0.25,0.0,0.00,0.00,0.50,0.25,0.00,...,0.00,1.00,1.00,1.00,109,477,14,1.00,1.00,validation
2,0.00,0.25,0.50,0.00,0.0,0.00,0.00,0.25,0.00,0.50,...,1.00,0.00,0.50,0.00,136,514,0,0.75,0.25,validation
3,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.25,0.75,0.25,...,0.00,0.25,0.25,0.25,109,446,15,1.00,1.00,validation
4,0.75,0.75,0.75,0.75,0.0,0.75,0.75,0.75,0.25,0.75,...,0.50,0.00,0.50,0.75,99,535,3,0.25,0.75,validation

## Setting up Dataset & Dataloaders

In [16]:
class CustomDataset(Dataset):
    def __init__(self, dataframe, noise, transform=None, target_transform=None):
        self.dataframe = dataframe
        self.X = dataframe.drop("era", axis=1).values
        self.y = dataframe["era"].values
        self.transform = transform
        self.target_transform = target_transform
        self.noise = noise

    def __len__(self):
        return len(self.dataframe)

    def __getitem__(self, idx):
        item, label = self.X[idx], self.y[idx]
        if self.transform:
            item = self.transform(item)
        if self.target_transform:
            label = self.target_transform(label)
        return item, label

    def get_noise(self):
        return self.noise

In [17]:
#Setting up datasets
Noise_0_dataset = CustomDataset(Noise_0_dataframe, "0")
Noise_Low_dataset = CustomDataset(Noise_Low_dataframe, "Low")
Noise_High_dataset = CustomDataset(Noise_High_dataframe, "High")
Noise_0_train, Noise_0_test = random_split(Noise_0_dataset, [int(0.8 * len(Noise_0_dataset)), len(Noise_0_dataset) - int(0.8 * len(Noise_0_dataset))])
Noise_Low_train, Noise_Low_test = random_split(Noise_Low_dataset, [int(0.8 * len(Noise_Low_dataset)), len(Noise_Low_dataset) - int(0.8 * len(Noise_Low_dataset))])
Noise_High_train, Noise_High_test = random_split(Noise_High_dataset, [int(0.8 * len(Noise_High_dataset)), len(Noise_High_dataset) - int(0.8 * len(Noise_High_dataset))])

In [26]:
#Setting up dataloaders
Noise_0_train_loader = DataLoader(Noise_0_train, batch_size=64, shuffle=True)
Noise_0_test_loader = DataLoader(Noise_0_test, batch_size=64, shuffle=True)
Noise_Low_train_loader = DataLoader(Noise_Low_train, batch_size=64, shuffle=True)
Noise_Low_test_loader = DataLoader(Noise_Low_test, batch_size=64, shuffle=True)
Noise_High_train_loader = DataLoader(Noise_High_train, batch_size=64, shuffle=True)
Noise_High_test_loader = DataLoader(Noise_High_test, batch_size=64, shuffle=True)

In [27]:
iterator = iter(Noise_0_train_loader)
for i in range(10):
    print(next(iterator))

[tensor([[1.0000e+00, 1.0000e+00, 1.0000e+00,  ..., 5.4800e+02, 7.5000e-01,
         1.0000e+00],
        [1.0000e+00, 1.0000e+00, 1.0000e+00,  ..., 5.4000e+02, 0.0000e+00,
         0.0000e+00],
        [2.5000e-01, 2.5000e-01, 2.5000e-01,  ..., 5.3700e+02, 2.5000e-01,
         2.5000e-01],
        ...,
        [0.0000e+00, 0.0000e+00, 0.0000e+00,  ..., 5.3700e+02, 2.5000e-01,
         2.5000e-01],
        [7.5000e-01, 7.5000e-01, 7.5000e-01,  ..., 5.4000e+02, 1.0000e+00,
         1.0000e+00],
        [0.0000e+00, 0.0000e+00, 0.0000e+00,  ..., 5.4000e+02, 1.0000e+00,
         1.0000e+00]], dtype=torch.float64), tensor([10, 18,  9, 21,  4, 19, 18, 21, 12, 10, 16,  2,  7, 21,  4, 16,  7,  2,
        10,  4,  2,  9, 19,  9, 16,  4, 10, 10, 18,  2, 10,  9, 10, 10,  4, 10,
         7, 21,  2, 18,  9, 21, 15,  9,  4, 12, 15, 16, 19, 10, 16, 18,  7, 18,
        16,  7,  4,  5, 12, 21, 19,  7,  9,  7])]
[tensor([[0.0000e+00, 0.0000e+00, 0.0000e+00,  ..., 5.4000e+02, 7.5000e-01,
         7.5000e-01],
        [5.0000e-01, 5.0000e-01, 2.5000e-01,  ..., 5.5500e+02, 2.5000e-01,
         2.5000e-01],
        [7.5000e-01, 7.5000e-01, 7.5000e-01,  ..., 5.4300e+02, 7.5000e-01,
         7.5000e-01],
        ...,
        [7.5000e-01, 7.5000e-01, 7.5000e-01,  ..., 5.4300e+02, 7.5000e-01,
         7.5000e-01],
        [7.5000e-01, 7.5000e-01, 7.5000e-01,  ..., 5.5000e+02, 7.5000e-01,
         7.5000e-01],
        [0.0000e+00, 0.0000e+00, 0.0000e+00,  ..., 5.5000e+02, 0.0000e+00,
         0.0000e+00]], dtype=torch.float64), tensor([ 5, 21,  5, 19,  9,  9, 21, 10, 18,  2, 19, 12, 18, 19,  2, 16,  5,  5,
         5,  9,  7, 15, 16, 16, 19, 10, 10, 19, 19,  9, 19, 10, 15,  9, 18,  9,
         2,  7, 10,  7, 21, 15, 16, 19,  9, 19, 18, 10,  4, 10, 16,  7, 10, 18,
        15, 12, 18, 15,  9,  2, 18,  2,  2, 15])]
[tensor([[1.0000e+00, 7.5000e-01, 1.0000e+00,  ..., 5.4100e+02, 1.0000e+00,
         0.0000e+00],
        [0.0000e+00, 2.5000e-01, 0.0000e+00,  ..., 5.4200e+02, 2.5000e-01,
         2.5000e-01],
        [2.5000e-01, 2.5000e-01, 2.5000e-01,  ..., 5.4100e+02, 7.5000e-01,
         2.5000e-01],
        ...,
        [5.0000e-01, 5.0000e-01, 5.0000e-01,  ..., 5.4300e+02, 2.5000e-01,
         1.0000e+00],
        [5.0000e-01, 5.0000e-01, 5.0000e-01,  ..., 5.4000e+02, 1.0000e+00,
         7.5000e-01],
        [1.0000e+00, 7.5000e-01, 1.0000e+00,  ..., 5.5100e+02, 7.5000e-01,
         0.0000e+00]], dtype=torch.float64), tensor([19,  5, 12, 16,  4, 19,  9,  9,  5, 16, 18,  2,  2,  4, 15, 15, 21, 12,
        15,  9, 18, 18, 18, 21, 18,  7,  7,  4,  7,  9,  2, 21, 19, 18, 21,  2,
         9,  4, 19,  7,  2, 16,  9, 19, 19, 12, 19, 15,  4, 16,  9, 16,  7, 18,
         2, 19, 10, 21, 15,  7,  2, 16, 16, 18])]
[tensor([[2.5000e-01, 2.5000e-01, 2.5000e-01,  ..., 5.4200e+02, 7.5000e-01,
         7.5000e-01],
        [5.0000e-01, 5.0000e-01, 5.0000e-01,  ..., 5.4900e+02, 2.5000e-01,
         2.5000e-01],
        [7.5000e-01, 7.5000e-01, 7.5000e-01,  ..., 5.4000e+02, 7.5000e-01,
         7.5000e-01],
        ...,
        [0.0000e+00, 0.0000e+00, 0.0000e+00,  ..., 5.4100e+02, 1.0000e+00,
         1.0000e+00],
        [5.0000e-01, 5.0000e-01, 5.0000e-01,  ..., 5.4000e+02, 2.5000e-01,
         2.5000e-01],
        [5.0000e-01, 5.0000e-01, 5.0000e-01,  ..., 5.4300e+02, 7.5000e-01,
         7.5000e-01]], dtype=torch.float64), tensor([ 5, 21,  2, 21,  9, 12, 18, 10, 12, 16,  4, 10, 19, 12, 10, 12,  9, 21,
         5,  2, 19, 16,  2, 19, 19,  2, 18, 12,  7,  9, 15,  2,  5,  9, 18,  2,
         9, 15, 15, 18,  2,  7,  5, 15,  4, 15, 18,  7, 10,  7, 12, 19,  5,  5,
        16,  4,  5,  4, 12, 18,  7, 15, 21,  2])]
[tensor([[1.0000e+00, 1.0000e+00, 1.0000e+00,  ..., 5.4100e+02, 0.0000e+00,
         0.0000e+00],
        [0.0000e+00, 0.0000e+00, 0.0000e+00,  ..., 5.4200e+02, 7.5000e-01,
         7.5000e-01],
        [1.0000e+00, 1.0000e+00, 1.0000e+00,  ..., 5.5000e+02, 0.0000e+00,
         0.0000e+00],
        ...,
        [7.5000e-01, 5.0000e-01, 5.0000e-01,  ..., 5.5100e+02, 0.0000e+00,
         0.0000e+00],
        [1.0000e+00, 1.0000e+00, 1.0000e+00,  ..., 5.5000e+02, 0.0000e+00,
         0.0000e+00],
        [7.5000e-01, 7.5000e-01, 7.5000e-01,  ..., 5.5000e+02, 5.0000e-01,
         5.0000e-01]], dtype=torch.float64), tensor([ 7,  9, 19, 12, 15,  2, 21,  2, 12, 15, 10,  4,  9, 21,  7, 10, 15,  4,
        18,  2, 21, 16,  2,  9, 15, 19, 18,  2,  4,  4, 19, 16, 18,  9, 16,  2,
         5,  4,  5, 15, 15, 12,  4,  4,  2,  7, 19, 21,  2,  5,  4, 21,  9, 19,
        16, 10, 12, 19, 18, 19, 12, 10, 15,  4])]
[tensor([[2.5000e-01, 2.5000e-01, 2.5000e-01,  ..., 5.5100e+02, 7.5000e-01,
         7.5000e-01],
        [0.0000e+00, 2.5000e-01, 2.5000e-01,  ..., 5.3700e+02, 1.0000e+00,
         1.0000e+00],
        [5.0000e-01, 5.0000e-01, 5.0000e-01,  ..., 5.4900e+02, 1.0000e+00,
         1.0000e+00],
        ...,
        [2.5000e-01, 2.5000e-01, 2.5000e-01,  ..., 5.4300e+02, 2.5000e-01,
         2.5000e-01],
        [0.0000e+00, 0.0000e+00, 0.0000e+00,  ..., 5.5000e+02, 2.5000e-01,
         2.5000e-01],
        [7.5000e-01, 1.0000e+00, 7.5000e-01,  ..., 5.3700e+02, 7.5000e-01,
         7.5000e-01]], dtype=torch.float64), tensor([ 5, 10,  9, 12, 15, 15,  5, 16, 21, 16,  5,  7, 10, 15,  4, 18, 12,  9,
        10, 15,  4, 12, 15, 16, 16, 12, 18,  5, 19, 12, 19,  2,  5, 10, 18,  9,
        16,  2,  7,  7, 16, 15, 18, 12,  9, 19, 10, 21, 15,  4, 15,  9, 10,  4,
        10,  9,  7,  2,  5, 18,  2, 21, 10,  2])]
[tensor([[1.0000e+00, 1.0000e+00, 1.0000e+00,  ..., 5.4100e+02, 2.5000e-01,
         2.5000e-01],
        [5.0000e-01, 5.0000e-01, 5.0000e-01,  ..., 5.4000e+02, 1.0000e+00,
         2.5000e-01],
        [1.0000e+00, 7.5000e-01, 1.0000e+00,  ..., 5.4900e+02, 1.0000e+00,
         0.0000e+00],
        ...,
        [7.5000e-01, 7.5000e-01, 7.5000e-01,  ..., 5.4900e+02, 2.5000e-01,
         2.5000e-01],
        [5.0000e-01, 2.5000e-01, 5.0000e-01,  ..., 5.4300e+02, 7.5000e-01,
         0.0000e+00],
        [2.5000e-01, 2.5000e-01, 2.5000e-01,  ..., 5.5100e+02, 2.5000e-01,
         2.5000e-01]], dtype=torch.float64), tensor([ 7, 16, 19,  9, 19,  5, 16,  4, 18,  4, 10,  2, 19,  7, 10,  7, 19, 10,
        18, 19, 10, 15,  5, 21,  7,  7,  7, 18,  2, 10,  9, 21,  2,  9,  5, 10,
         9,  2, 18,  5, 21,  9, 19, 10,  9,  5, 21, 12, 12,  9, 18, 18,  7, 12,
        15, 12, 15, 12, 10,  4, 10,  5, 18, 21])]
[tensor([[5.0000e-01, 5.0000e-01, 5.0000e-01,  ..., 5.3700e+02, 7.5000e-01,
         7.5000e-01],
        [1.0000e+00, 1.0000e+00, 1.0000e+00,  ..., 5.3700e+02, 0.0000e+00,
         0.0000e+00],
        [5.0000e-01, 5.0000e-01, 5.0000e-01,  ..., 5.5000e+02, 7.5000e-01,
         1.0000e+00],
        ...,
        [0.0000e+00, 0.0000e+00, 0.0000e+00,  ..., 5.5500e+02, 1.0000e+00,
         1.0000e+00],
        [7.5000e-01, 7.5000e-01, 7.5000e-01,  ..., 5.5500e+02, 7.5000e-01,
         7.5000e-01],
        [2.5000e-01, 2.5000e-01, 2.5000e-01,  ..., 5.5000e+02, 7.5000e-01,
         2.5000e-01]], dtype=torch.float64), tensor([ 2, 10, 16, 12, 19, 18, 21, 12,  9,  4,  2,  4,  2, 16,  4,  4, 12, 12,
         7, 21, 12,  2, 12, 21,  9,  5, 19, 16, 15, 16, 15,  7,  7,  5, 21, 21,
        10, 19, 15, 10, 18, 12, 12, 19, 10,  5,  7, 12, 16, 16, 15,  5, 18,  5,
         5,  4, 21,  4,  4, 12,  5, 15,  2, 12])]
[tensor([[2.5000e-01, 2.5000e-01, 2.5000e-01,  ..., 5.4900e+02, 7.5000e-01,
         7.5000e-01],
        [7.5000e-01, 7.5000e-01, 7.5000e-01,  ..., 5.4100e+02, 7.5000e-01,
         7.5000e-01],
        [7.5000e-01, 7.5000e-01, 7.5000e-01,  ..., 5.4800e+02, 7.5000e-01,
         7.5000e-01],
        ...,
        [0.0000e+00, 0.0000e+00, 0.0000e+00,  ..., 5.4200e+02, 1.0000e+00,
         1.0000e+00],
        [0.0000e+00, 0.0000e+00, 0.0000e+00,  ..., 5.4000e+02, 2.5000e-01,
         0.0000e+00],
        [7.5000e-01, 7.5000e-01, 7.5000e-01,  ..., 5.4300e+02, 7.5000e-01,
         7.5000e-01]], dtype=torch.float64), tensor([ 4,  9,  2, 16, 12, 10, 10,  7,  5, 10,  4, 12, 19, 19,  5,  5, 15,  2,
        18, 19, 10,  9,  2, 19,  5,  4, 19,  7, 10, 16,  9,  4,  4, 21,  4,  7,
        15,  4, 10,  2,  9, 19, 16,  4,  9,  2,  5, 12,  9, 12,  2, 21, 21, 15,
        10,  2,  9,  2,  2, 21, 10,  7, 10,  5])]
[tensor([[1.0000e+00, 1.0000e+00, 1.0000e+00,  ..., 5.4100e+02, 2.5000e-01,
         2.5000e-01],
        [2.5000e-01, 2.5000e-01, 2.5000e-01,  ..., 5.4000e+02, 2.5000e-01,
         2.5000e-01],
        [5.0000e-01, 5.0000e-01, 2.5000e-01,  ..., 5.4000e+02, 2.5000e-01,
         2.5000e-01],
        ...,
        [7.5000e-01, 5.0000e-01, 7.5000e-01,  ..., 5.5000e+02, 2.5000e-01,
         0.0000e+00],
        [5.0000e-01, 5.0000e-01, 5.0000e-01,  ..., 5.5500e+02, 1.0000e+00,
         7.5000e-01],
        [5.0000e-01, 7.5000e-01, 5.0000e-01,  ..., 5.4300e+02, 2.5000e-01,
         7.5000e-01]], dtype=torch.float64), tensor([ 9,  5,  5,  4,  4, 16,  4,  9, 12,  9,  4, 15,  5, 18,  2, 15, 18,  5,
        10,  4, 16, 21, 10, 12, 12, 10,  5, 19, 16, 15, 19, 16, 21, 10, 18,  5,
         9,  4,  9,  4,  9, 10,  9, 12, 12,  2,  2,  4, 16, 15,  5,  5,  9,  2,
         9,  7,  2, 10, 10,  7, 21, 16, 16, 12])]