# Assignment-1
## Team: Aditya Ahuja (2020275), Deeptanshu Barman Chowdhuri (2020293)

##  Imports & Dataset

In [27]:
import torch 
import requests
import os
import pandas as pd 
import numpy as np

In [43]:
Noise_0_data = requests.get(
    "http://AdityaAhuja01.pythonanywhere.com/data/df_syn_train_0_0_.csv"
)
Noise_Low_data = requests.get(
    "http://AdityaAhuja01.pythonanywhere.com/data/df_synA_train_shuffled.csv"
)
Noise_High_data = requests.get(
    "http://AdityaAhuja01.pythonanywhere.com/data/df_synA_test_hard_shuffled_sample.csv"
)

if Noise_0_data.status_code == 200 and Noise_Low_data.status_code == 200 and Noise_High_data.status_code == 200:
    datafolder = "Data"

    if not os.path.exists(datafolder):
        os.mkdir(datafolder)

    with open(os.path.join(datafolder, "data_0_noise"), "wb") as f:
        f.write(Noise_0_data.text.encode("utf-8"))

    with open(os.path.join(datafolder, "data_Low_noise"), "wb") as f:
        f.write(Noise_Low_data.text.encode("utf-8"))

    with open(os.path.join(datafolder, "data_High_noise"), "wb") as f:
        f.write(Noise_High_data.text.encode("utf-8"))
else:
    print("Error in fetching data")

In [44]:
Noise_0_dataframe = pd.read_csv("Data/data_0_noise")
print(Noise_0_dataframe.shape)
Noise_0_dataframe.head()

(7800, 29)

,Open_n_val,High_n_val,Low_n_val,Close_n_val,Volume_n_val,SMA_10_val,SMA_20_val,CMO_14_val,High_n-Low_n_val,Open_n-Close_n_val,...,Open_n-Close_n_changelen_val,SMA_20-SMA_10_changelen_val,Close_n_slope_3_changelen_val,Close_n_slope_5_changelen_val,Close_n_slope_10_changelen_val,row_num,day,era,target_10_val,target_5_val
0,0.5,0.5,0.5,0.5,0.0,0.5,0.25,1.0,1.0,0.5,...,0.50,0.75,0.25,0.75,0.50,75,537,2,0.75,0.75
1,0.5,0.5,0.5,0.5,0.0,0.5,0.50,1.0,1.0,0.5,...,0.50,0.50,0.75,0.50,0.50,76,537,2,0.75,0.75
2,0.5,0.5,0.5,0.5,0.0,0.5,0.50,1.0,1.0,0.5,...,0.50,0.25,0.50,0.50,0.75,77,537,2,0.75,0.75
3,0.5,0.5,0.5,0.5,0.0,0.5,0.50,1.0,1.0,0.5,...,0.25,0.25,0.50,0.75,0.50,78,537,2,0.75,0.75
4,0.5,0.5,0.5,0.5,0.0,0.5,0.50,1.0,1.0,0.5,...,0.75,0.25,0.50,0.50,0.50,79,537,2,0.75,0.75

In [45]:
Noise_Low_dataframe = pd.read_csv("Data/data_Low_noise")
print(Noise_Low_dataframe.shape)
Noise_Low_dataframe.head()

(312000, 30)

,Open_n_val,High_n_val,Low_n_val,Close_n_val,Volume_n_val,SMA_10_val,SMA_20_val,CMO_14_val,High_n-Low_n_val,Open_n-Close_n_val,...,SMA_20-SMA_10_changelen_val,Close_n_slope_3_changelen_val,Close_n_slope_5_changelen_val,Close_n_slope_10_changelen_val,row_num,day,era,target_10_val,target_5_val,data_type
0,1.00,0.75,0.75,0.75,0.0,0.75,0.50,0.75,0.25,1.00,...,0.00,0.0,0.00,0.25,82,481,16,0.00,0.00,train
1,0.25,0.25,0.50,0.50,0.0,0.50,0.50,0.00,0.25,0.00,...,0.75,0.5,0.25,0.75,77,542,23,0.25,0.25,train
2,0.75,0.75,0.75,0.75,0.0,0.75,0.50,0.75,0.75,0.50,...,0.50,0.5,0.75,0.75,123,445,8,0.75,0.25,train
3,0.75,0.75,0.75,1.00,0.0,0.75,1.00,0.75,0.00,0.25,...,1.00,0.5,1.00,0.75,112,486,1,0.25,0.25,train
4,1.00,1.00,1.00,1.00,0.0,1.00,0.75,0.75,0.25,1.00,...,0.75,0.0,0.00,0.00,86,390,14,0.00,0.00,train

In [46]:
Noise_High_dataframe = pd.read_csv("Data/data_High_noise")
print(Noise_High_dataframe.shape)
Noise_High_dataframe.head()

(249600, 30)

,Open_n_val,High_n_val,Low_n_val,Close_n_val,Volume_n_val,SMA_10_val,SMA_20_val,CMO_14_val,High_n-Low_n_val,Open_n-Close_n_val,...,SMA_20-SMA_10_changelen_val,Close_n_slope_3_changelen_val,Close_n_slope_5_changelen_val,Close_n_slope_10_changelen_val,row_num,day,era,target_10_val,target_5_val,data_type
0,0.75,0.75,0.50,0.75,0.0,0.25,0.25,1.00,0.75,0.50,...,0.25,0.00,0.75,1.00,96,456,17,0.00,0.25,validation
1,0.00,0.00,0.00,0.25,0.0,0.00,0.00,0.50,0.25,0.00,...,0.00,1.00,1.00,1.00,109,477,14,1.00,1.00,validation
2,0.00,0.25,0.50,0.00,0.0,0.00,0.00,0.25,0.00,0.50,...,1.00,0.00,0.50,0.00,136,514,0,0.75,0.25,validation
3,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.25,0.75,0.25,...,0.00,0.25,0.25,0.25,109,446,15,1.00,1.00,validation
4,0.75,0.75,0.75,0.75,0.0,0.75,0.75,0.75,0.25,0.75,...,0.50,0.00,0.50,0.75,99,535,3,0.25,0.75,validation

## Setting up Dataset & Dataloaders